@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-image: url("https://images.wallpaperscraft.com/image/single/background_sky_point_light_83482_1280x720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1{
    font-size: 4.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    color: #fff;
    margin-top: 10rem;
    margin-bottom: 10rem;
    /* position: absolute; */
    /* left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

.center{
    text-align: center;
}

.name {
	background: url(https://media1.giphy.com/media/3ohhwhHdgMUUGQ97he/giphy.gif?cid=790b76113053613e960a402e1e8f8ee1f0a478320a6b63e1&rid=giphy.gif&ct=g);
	background-size: cover;
	background-position: 50%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 5rem;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
}

.home-btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #4433ff;
    z-index: 1;
}

.home-btn:hover:after {
    width: 100%;
    left: 0;
}

.home-btn:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #3a86ff;
    right: 0;
}

.home-btn:active {
    top: 2px;
}

#skills{
    margin-top: 20rem;
    padding: 5rem;
}

.skill-list{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-gap: 1rem;
    align-items: stretch;
}

.skill{
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.5rem;
    /* font-weight: 500; */
    text-align: center;
    transition: all 0.3s ease;
    outline: none;
    margin: 0px !important;
    border: 5px solid white;
}

.skill:hover{
    border: 5px solid #4433ff;
}

.skill-img{
    width: 100%;
    border-radius: 15px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #382037;
}

::-webkit-scrollbar-thumb {
    background: #8843A0;
    border-radius: 10px;
}