
.profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    align-items: center;
}

button {
    white-space: pre-wrap;
}

.name {
    color: #e6a226;
    font-size: 5rem;
    background-color: rgb(20, 19, 19);
    padding: 0.25rem;
    margin: 0.25rem;
    border-radius: 1rem;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
}

.home-btn {
    min-width: 130px;
    height: 30px;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #e6a226;
    z-index: 1;
    justify-content: center;
}

.home-btn:hover:after {
    width: 100%;
    left: 0;
}

.home-btn:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: #ebb042;
    right: 0;
}

.home-btn:active {
    top: 2px;
}